/* .blog_item {
  border: 1px solid #7c7c7cda;
}
*/

.blog_time {
  border-top: 1px solid #7c7c7c96;
}
.read_more {
  color: #f9a826;
  font-weight: 600;
  text-decoration: none;
  font-size: 1rem;
}
.read_more:hover {
  color: #f9a826;
}
.blog_item span i {
  color: #f9a826;
}
.blog_author {
  color: #000d6b;
  font-weight: 600;
}
.blog_author i {
  font-weight: 500;
}
.blog_title {
  text-decoration: none;
  color: #000d6b;
  font-size: 1.2rem;
  font-weight: 600;
  transition: 0.3s;
}

.blog_title:hover {
  color: #f9a826;
}
.icon_info {
  flex: wrap;
}
.icon_info span {
  color: black;
}
@media only screen and (max-width: 768px) {
  .blog_info {
    text-align: center;
  }
  .blog_item img {
    margin: auto;
  }
  .icon_info span {
    font-size: 0.8rem;
  }
  .icon_info span i {
    font-size: 0.8rem;
  }
}
