.header_top {
  padding: 10px 0px;
  background: #000d6b;
  color: #fff;
  padding-bottom: 0;
}
.header_top_left {
  display: flex;
  align-items: center;
  column-gap: 0.4rem;
  text-align: center;
}

.header_top_left span {
  font-size: 0.9rem;
}
.header_top_help i {
  background: #fff;
  color: #000d6b;
  padding: 4px 4px;
  border-radius: 50%;
  font-size: 0.9rem;
}
.header_top_right a {
  text-decoration: none;
  color: #fff;
}
.header_top_right a:hover {
  color: rgba(245, 247, 248, 0.785);
}

/* Header middle sections */
.header_middle {
  padding: 12px 0px;
}

.logo h1 a span {
  font-size: 1.5rem;
}
.logo h1 a i {
  font-size: 2.2rem;
}
.logo h1 a {
  text-decoration: none;
  color: #000d6b;
  font-weight: 600;
}
.logo h1 {
  line-height: 1.6rem;
}

.header_location span {
  font-size: 2.3rem;
  color: #000d6b;
}

.header_location-content h4 {
  font-size: 1.3rem;
  font-weight: 700;
  color: #000d6b;
}

.header_location-content h6 {
  font-weight: 600;
}

.header_btn {
  background: #000d6b !important;
  border: none;
  outline: none;
  border-radius: 5px;
}
.header_btn a {
  display: flex;
  align-items: center;
  column-gap: 0.4rem;
  text-decoration: none;
  color: #fff;
  justify-content: end;
  font-size: 0.9rem;
}

.header_btn a:hover {
  color: rgba(255, 255, 255, 0.642);
}

/* Header middle sections */

.main_navbar {
  padding: 13px 0px;
  background: #000d6b;
}
.mobile_menu i {
  color: #fff;
  font-size: 1.3rem;
  cursor: pointer;
}
.mobile_menu {
  display: none;
}
.menu {
  display: flex;
}
.menu {
  display: flex;
  align-items: center;
  column-gap: 2.7rem;
}
.nav_item {
  color: #fff;
  text-decoration: none;
  transition: 0.3rem;
}
/* .nav_item:hover {
  color: #fff;
} */
.search_box {
  border: 1px solid #8dcaa82f;
  padding: 7px 12px;
  display: flex;
  align-items: center;
  border-radius: 50px;
}
.search_box input {
  background: transparent;
  border: none;
  outline: none;
  color: #fff;
  cursor: pointer;
}
.search_box input::placeholder {
  font-size: 0.9rem;
}
.search_box span i {
  color: #fff;
  cursor: pointer;
}

.nav_active {
  color: rgba(255, 255, 255, 0.786);
}
@media only screen and (max-width: 992px) {
  .header_middle {
    width: 100%;
    height: 75px;
  }
  .header_middle .logo h1 span {
    font-size: 1.1rem;
  }

  .logo h1 span {
    font-size: 1rem;
    font-weight: 600;
  }

  .header_location .header_location-content h4,
  .header_location .header_location-content h6 {
    font-size: 1rem;
    line-height: 0.9rem;
  }
}

@media only screen and (max-width: 768px) {
  .header_top,
  .header_middle,
  .nav_right {
    display: none;
  }
  .mobile_menu {
    display: block;
  }
  .navigation {
    background: rgb(0, 13, 107, 0.6);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    display: none;
  }
  .menu {
    width: 250px;
    height: 100%;
    background: #fff;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    align-items: center;
    justify-content: center;
  }
  .menu a {
    color: #000d6b;
    font-size: 1rem;
    font-weight: 600;
  }
  .menu_active {
    display: block;
  }
}
